body{
        background-image: url("Background.jpg");
}

div{
    background-color: #444444;
    width: 1000px;
    margin:auto;
    padding: 20px;
    border-radius: 20px;
}
img{
    height: 300px;
    width: 300px;
   margin-top: 20px;
   margin-left: 20px;
    border-radius: 20px;
    opacity:0.7;
}
p{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    margin:0px;
}
img:hover{
    opacity:1;
    cursor: pointer;
    height:330px;
    width:330px;
}